src/main/mule/typeOf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="d5c8dbbc-f43e-4c1e-bd4e-22b14cca429a" >
		<file:connection workingDir="C:\Users\om\Documents\dvm" />
	</file:config>
	<flow name="mypractice-appFlow" doc:id="1d0ce240-94a4-4097-9c69-bdae74fac5ea" >
		<http:listener doc:name="Listener" doc:id="0aff458e-9e38-4253-802a-5d4c86befc58" config-ref="HTTP_Listener_config" path="/useCase" allowedMethods="POST">
			<http:error-response >
				<http:body ><![CDATA[#[output text/plain --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="5c9523ac-c474-47cb-89e6-be1113b3b982" message="#[payload]"/>
		<file:write doc:name="Write" doc:id="b7704933-150f-4117-83c3-5e6f4acfaf50" config-ref="File_Config" path="newOrder.json" createParentDirectories="false">
			<error-mapping sourceType="FILE:CONNECTIVITY" targetType="OTHER:ERROR" />
			<file:content ><![CDATA[#[output application/json
---
payload]]]></file:content>
		</file:write>
		<set-payload value='#["file written"]' doc:name="Set Payload" doc:id="1159dae8-913c-40a4-871b-b72a1bb5c559" />
		<logger level="INFO" doc:name="Logger" doc:id="7cfee5d1-b18e-48ee-b540-df501db1a249" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2f9ad8f5-1293-44f0-91cf-c257dd9cc8c3" type="FILE:CONNECTIVITY">
				<set-payload value='#["FILE:CONNECTIVITY"]' doc:name="FILE:CONNECTIVITY" doc:id="ff82208e-9747-4f95-b836-0ef0d425cb51" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="ORDER:NOT_CREATED" doc:id="89770574-6bc7-42c2-80dd-6c81a8cd4481" type="FILE:ACCESS_DENIED">
				<set-payload value='#["ORDER:NOT_CREATED"]' doc:name="Copy_of_FILE:CONNECTIVITY" doc:id="1dc7a9ce-cdb3-42a4-9ba9-847296dba79d" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Error Propagate" doc:id="09d03620-9fb2-4b20-9cde-daa7a538148e" type="OTHER:ERROR">
				<set-payload value='#["other error"]' doc:name='"other error"' doc:id="64842b1f-0c10-4d8b-a7f4-36a1a464d324" />
			</on-error-propagate>
		</error-handler>
	
</flow>

</mule>
